:root {
  --title-color: #2e2f42;
  --text-color: #434455;
  --main-background-color: #e5e5e5;
  --footer-color: #f4f4fd;
  --header-bg-color: #ffffff;
}

.body {
  font-family: 'Roboto' sans-serif;
  font-style: normal;
  color: var(--text-color);
}

/* header */
.header {
  background-color: var(--header-bg-color);
}
.header-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: var(--title-color);
  list-style-type: none;
}
.logo {
  width: 44px;
  height: 21px;
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--title-color);
}

.header-contacts {
  color: var(--text-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  list-style-type: none;
}
.header-contacts:hover,
.header-contacts:focus {
  color: #404bbf;
}
/* main */
.main {
  background-color: var(--main-background-color);
}
.hero {
  background-color: var(--title-color);
  width: 1440px;
  height: 600px;
  left: 0px;
  top: 72px;
}
.hero-title {
  font-weight: 700;
  font-size: 56px;
  line-height: 60px;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--header-bg-color);
}

.but {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  align-items: center;
  letter-spacing: 0.04em;
  background: #4d5ae5;
  color: var(--header-bg-color);
}
.section-feature > h3 {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.02em;
}
.section-feature > p {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
}
.section-feature li {
  list-style-type: none;
}
.section-work > h2 {
  font-size: 36px;
  line-height: 40px;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}
.section-work li {
  list-style-type: none;
}
.section-team {
  background-color: var(--footer-color);
}
.section-team > h2 {
  font-size: 36px;
  line-height: 40px;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}
.section-team li {
  list-style-type: none;
}

/* portfolio-html */
.filter-but {
  list-style-type: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  align-items: center;
  text-align: center;
  letter-spacing: 0.04em;
  color: #4d5ae5;
  background-color: var(--footer-color);
}
.filter-all {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  align-items: center;
  text-align: center;
  letter-spacing: 0.04em;
  color: var(--header-bg-color);
  background-color: #404bbf;
}
.rows-img {
  list-style-type: none;
}
.rows-img > h3 {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.02em;
}
.rows-img > p {
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
}

/* footer */
.foot {
  width: 1440px;
  height: 312px;
  left: 0px;
  top: 2280px;
  background-color: var(--title-color);
  color: var(--footer-color);
}

.logo-foot {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--footer-color);
}
.foot > p {
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
}
